CompileFlags:
  Add:
    - -IC:/Users/ryeth/Desktop/minimaliti/photoroom/build/Desktop_Qt_6_9_3_MinGW_64_bit-Debug/photoroom_autogen/include
    - -IC:/Users/ryeth/Desktop/minimaliti/photoroom/3rdparty/libraw/include
    - -IC:/Users/ryeth/Desktop/minimaliti/photoroom
    - -IC:/Qt/6.9.3/mingw_64/include/QtCore
    - -IC:/Qt/6.9.3/mingw_64/include
    - -IC:/Qt/6.9.3/mingw_64/include/QtWidgets
    - -IC:/Qt/6.9.3/mingw_64/include/QtGui
    - -IC:/Qt/6.9.3/mingw_64/include/QtConcurrent
    - -DMINGW_HAS_SECURE_API=1
    - -DQT_CONCURRENT_LIB
    - -DQT_CORE_LIB
    - -DQT_GUI_LIB
    - -DQT_WIDGETS_LIB
    - -DUNICODE
    - -DWIN32
    - -DWIN64
    - -DQT_QML_DEBUG
    - -DQT_DECLARATIVE_DEBUG
    - -std=gnu++17

Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None


